.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.nav-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
